@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/crispix.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <div id="ProperDiv">
        <header>
            <table align="center" width="824" border="0" cellpadding="0" cellspacing="0">
                <!--Set the banner image-->
                <tr>
                    <td>
                        <img class="headerImage" />
                    </td>
                </tr>
                <!--Set the nav bar-->
                <tr>
                    <td align="center">
                        <nav id="navHead">
                            <!-- Returns an <a> element
                                    ActionLink(link text, method, controller, route values, <a> attributes)
                                                   V       V       V            V                 V
                            -->
                            <a>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                            <a>@Html.ActionLink("Rules", "Rules", "Rules", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                            <a>@Html.ActionLink("Enter", "Enter", "Enter", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                            <a>@Html.ActionLink("Schedule", "Schedule", "Schedule", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                            <a>@Html.ActionLink("Standings", "Standings", "Standings", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                            <a>@Html.ActionLink("Grid", "Grid", "Grid", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                            <a>@Html.ActionLink("Links", "Links", "Links", routeValues: null, htmlAttributes: new { id = "navlink" })</a>
                        </nav>
                    </td>
                </tr>
            </table>
        </header>
    </div>
</body>
</html>
